<div class="container" style="max-width: 1140px;">
  <%= partial "partials/hero" %>
  <%= partial "partials/why_section" %>
  <%= partial "partials/features_section" %>
  <%= partial "partials/testimonials" %>
  <%= partial "partials/bottom_cta" %>
</div>
